                                   .vbox-overlay *, .vbox-overlay *:before, .vbox-overlay *:after {
                                       -webkit-backface-visibility: hidden;
                                       -webkit-box-sizing: border-box;
                                       -moz-box-sizing: border-box;
                                       box-sizing: border-box;
                                   }

.vbox-overlay {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1040;
    -webkit-transform: translateZ(1000px);
    transform: translateZ(1000px);
    transform-style: preserve-3d;
}

/* ----- navigation ----- */
.vbox-title {
    width: 100%;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 28px;
    font-size: 12px;
    padding: 6px 40px;
    overflow: hidden;
    position: fixed;
    display: none;
    left: 0;
    z-index: 1050;
}

.vbox-close {
    cursor: pointer;
    position: fixed;
    top: -1px;
    right: 0;
    width: 50px;
    height: 40px;
    padding: 6px;
    display: block;
    background-position: 10px center;
    overflow: hidden;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    z-index: 1050;
}

.vbox-num {
    cursor: pointer;
    position: fixed;
    left: 0;
    height: 40px;
    display: block;
    overflow: hidden;
    line-height: 28px;
    font-size: 12px;
    padding: 6px 10px;
    display: none;
    z-index: 1050;
}

/* ----- navigation ARROWS ----- */
.vbox-next, .vbox-prev {
    position: fixed;
    top: 50%;
    margin-top: -15px;
    overflow: hidden;
    cursor: pointer;
    display: block;
    width: 45px;
    height: 45px;
    z-index: 1050;
}

.vbox-next span, .vbox-prev span {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    border-top-color: #B6B6B6;
    border-right-color: #B6B6B6;
    text-indent: -100px;
    position: absolute;
    top: 8px;
    display: block;
}

.vbox-prev {
    left: 15px;
}

.vbox-next {
    right: 15px;
}

.vbox-prev span {
    left: 10px;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.vbox-next span {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 10px;
}

/* ------- inline window ------ */
.vbox-inline {
    width: 420px;
    height: 315px;
    height: 70vh;
    padding: 10px;
    background: #fff;
    margin: 0 auto;
    overflow: auto;
    text-align: left;
}

/* ------- Video & iFrames window ------ */
.venoframe {
    max-width: 100%;
    width: 100%;
    border: none;
    width: 100%;
    height: 260px;
    height: 70vh;
}

.venoframe.vbvid {
    height: 260px;
}

@media (min-width: 768px) {
    .venoframe, .vbox-inline {
        width: 90%;
        height: 360px;
        height: 70vh;
    }

    .venoframe.vbvid {
        width: 640px;
        height: 360px;
    }
}

@media (min-width: 992px) {
    .venoframe, .vbox-inline {
        max-width: 1200px;
        width: 80%;
        height: 540px;
        height: 70vh;
    }

    .venoframe.vbvid {
        width: 960px;
        height: 540px;
    }
}

/*
Please do NOT edit this part!
or at least read this note: http://i.imgur.com/7C0ws9e.gif
*/
.vbox-open {
    overflow: hidden;
}

.vbox-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    z-index: 20;
    max-height: 100%;

}

.vbox-content {
    text-align: center;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 20px 10px;
}

.vbox-container img {
    max-width: 100%;
    height: auto;
}

.figlio {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    max-width: 100%;
    text-align: initial;
}

img.figlio {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.vbox-content.swipe-left {
    margin-left: -200px !important;
}

.vbox-content.swipe-right {
    margin-left: 200px !important;
}

.animated {
    webkit-transition: margin 300ms ease-out;
    transition: margin 300ms ease-out;
}

.animate-in {
    opacity: 1;
}

.animate-out {
    opacity: 0;
}

/* ---------- preloader ----------
 * SPINKIT
 * http://tobiasahlin.com/spinkit/
-------------------------------- */
.sk-double-bounce, .sk-rotating-plane {
    width: 40px;
    height: 40px;
    margin: 40px auto
}

.sk-rotating-plane {
    background-color: #333;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
    animation: sk-rotatePlane 1.2s infinite ease-in-out
}

@-webkit-keyframes sk-rotatePlane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
        transform: perspective(120px) rotateX(0) rotateY(0)
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0)
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
    }
}

@keyframes sk-rotatePlane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
        transform: perspective(120px) rotateX(0) rotateY(0)
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0)
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
    }
}

.sk-double-bounce {
    position: relative
}

.sk-double-bounce .sk-child {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
    animation: sk-doubleBounce 2s infinite ease-in-out
}

.sk-double-bounce .sk-double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

@-webkit-keyframes sk-doubleBounce {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes sk-doubleBounce {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.sk-wave {
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    margin: 40px auto
}

.sk-wave .sk-rect {
    background-color: #333;
    height: 100%;
    width: 4px;
    margin: 0 1px;
    display: inline-block;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
    animation: sk-waveStretchDelay 1.2s infinite ease-in-out
}

.sk-wave .sk-rect1 {
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s
}

.sk-wave .sk-rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}

.sk-wave .sk-rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.sk-wave .sk-rect4 {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s
}

.sk-wave .sk-rect5 {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}

@-webkit-keyframes sk-waveStretchDelay {
    0%, 100%, 40% {
        -webkit-transform: scaleY(.4);
        transform: scaleY(.4)
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}

@keyframes sk-waveStretchDelay {
    0%, 100%, 40% {
        -webkit-transform: scaleY(.4);
        transform: scaleY(.4)
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}

.sk-three-bounce {
    margin: 40px auto;
    width: 100px;
    text-align: center
}

.sk-three-bounce .sk-child {
    width: 16px;
    height: 16px;
    background-color: #333;
    border-radius: 100%;
    margin: 4px;
    display: inline-block;
    -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
    animation: sk-three-bounce 1.4s ease-in-out 0s infinite both
}

.sk-cube-grid, .sk-spinner-pulse {
    width: 40px;
    height: 40px;
    margin: 40px auto
}

.sk-three-bounce .sk-bounce1 {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}

.sk-three-bounce .sk-bounce2 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s
}

@-webkit-keyframes sk-three-bounce {
    0%, 100%, 80% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes sk-three-bounce {
    0%, 100%, 80% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.sk-spinner-pulse {
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
    animation: sk-pulseScaleOut 1s infinite ease-in-out
}

@-webkit-keyframes sk-pulseScaleOut {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@keyframes sk-pulseScaleOut {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

.sk-cube-grid .sk-cube {
    width: 33.33%;
    height: 33.33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 100%, 70% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1)
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1)
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 100%, 70% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1)
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1)
    }
}

.sk-wandering-cubes {
    margin: 40px auto;
    width: 40px;
    height: 40px;
    position: relative
}

.sk-wandering-cubes .sk-cube {
    background-color: #333;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-wanderingCube 1.8s ease-in-out -1.8s infinite both;
    animation: sk-wanderingCube 1.8s ease-in-out -1.8s infinite both
}

.sk-wandering-cubes .sk-cube2 {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s
}

@-webkit-keyframes sk-wanderingCube {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    25% {
        -webkit-transform: translateX(30px) rotate(-90deg) scale(.5);
        transform: translateX(30px) rotate(-90deg) scale(.5)
    }
    50% {
        -webkit-transform: translateX(30px) translateY(30px) rotate(-179deg);
        transform: translateX(30px) translateY(30px) rotate(-179deg)
    }
    50.1% {
        -webkit-transform: translateX(30px) translateY(30px) rotate(-180deg);
        transform: translateX(30px) translateY(30px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0) translateY(30px) rotate(-270deg) scale(.5);
        transform: translateX(0) translateY(30px) rotate(-270deg) scale(.5)
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }
}

@keyframes sk-wanderingCube {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    25% {
        -webkit-transform: translateX(30px) rotate(-90deg) scale(.5);
        transform: translateX(30px) rotate(-90deg) scale(.5)
    }
    50% {
        -webkit-transform: translateX(30px) translateY(30px) rotate(-179deg);
        transform: translateX(30px) translateY(30px) rotate(-179deg)
    }
    50.1% {
        -webkit-transform: translateX(30px) translateY(30px) rotate(-180deg);
        transform: translateX(30px) translateY(30px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0) translateY(30px) rotate(-270deg) scale(.5);
        transform: translateX(0) translateY(30px) rotate(-270deg) scale(.5)
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }
}

                        section {
                            border-width: 0px
                        }

.navbar.banner--stick {
    display: none
}

.screen {
    width: 100%;
    height: 45px;
    padding-bottom: 0%;
    text-align: center;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-screen.png) no-repeat top center transparent;
    background-size: 100% auto;
}

.btn.btn-ghost {
    border-radius: 5px !important
}

#section-2 .fw-container, #section-3 .fw-container {
    display: none
}

#section-2, #section-3 {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.tagcloud a:hover {
    color: #ffa8b5;
    border-color: #ffa8b5;
}

span.title, .heading .search a:hover i, .navbar.banner--clone .nav li.active a, .navbar.banner--clone .nav li.current_page_parent a, .comingSoon-slides a.arrow-button:hover, .social-share a:hover, .social-share a:hover i, .sidebar .widget ul li.current-cat a, .share a:hover, footer ul li a:hover, footer ul li a:hover .fa, a:hover {
    color: #ffa8b5;
}

input:focus, input:active, textarea:focus, textarea:active, select:focus, select:active, .share a:hover {
    border-color: #ffa8b5;
}

.navbar-toggle .icon-bar, button.btn-default:hover, button.btn-primary:hover {
    background-color: #ffa8b5;
}

html,
body {
    overflow-x: initial;
    font: Roboto Condensed latin-ext regular;
    color: #717171;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto Condensed, latin-ext;
    font-weight: 300;
}

h2:after, h3:after, h4:after, h5:after, .edit-link a, .nav li:after, .nav li.active a:after, .nav li.current_page_parent a:after, .nav .dropdown-menu, .btn-default, .slick-slider .slick-arrow, .tabs ul li a:after, .tabs.pill-style ul li.ui-state-active a, .movie-search .btn {
    background-image: linear-gradient(to right, #ffa8b5, #82242A) !important;
}

footer {
    background: #101010;
}

.fw-container {
    padding-left: 30px;
    padding-right: 30px;
}

::-moz-selection {
    background-color: #82242A;
}

::selection {
    background-color: #82242A;
}

a:active, a:visited, .btn-ghost, input[type="submit"], .btn-ghost i, a.arrow-button, .tabs ul li.ui-state-active a, .accordion h2.ui-state-active, .accordion h3.ui-state-active, .accordion h4.ui-state-active, .live-search i, .comingSoon-slides span.title, .news article .categories, .single-tags i, .single-tags a:hover, .social-share a, .pagination a:hover, .sidebar .widget .search-form label:before, .sidebar .widget h4, .sidebar .widget ul li a:hover, .sidebar .widget .tagcloud a:hover, .sidebar .movie-search-btn, ul.show-times li.today i, .icon-row span i, .icon-box i, .comments .date, .comment-respond #submit, .news-carousel .date, footer h6, footer .copyright a:hover, .single-post .leave-comment, .single-post .comments .comments-count, .site-name, .movie-tabs span.title {
    color: #82242A;

}

.nav li.active a:after, .nav li.current_page_parent a:after {
    background-image: linear-gradient(to right, #ffa8b5, #82242A)
}

a.btn-default {
    background-image: linear-gradient(to right, #ffa8b5, #82242A)
}

g {
    cursor: default;
}

sup {
    font-size: 16px;
    margin-right: 5px;
    top: 5px !important;
    left: 2px;
}

section button {
    border-color: #82242A !important
}

section button:hover {
    text-decoration: none !important;
    background-color: #82242A
}

ul {
    list-style: none;
}

li {
    position: relative;
    margin-bottom: 20px;
    text-align: justify;
}

#content_hero p {
    text-align: justify;
}

#content_hero .title, #content_hero .fa-star {
    color: #ffa8b5
}

#content_hero .buttons {
    min-width: 266px
}

.fw-col-xs-12.fw-col-sm-7 form {
    width: 360px
}

.page-1, .pag-3 {
    width: 100%
}

.btn:focus {
    color: white !important;
    background-color: #82242A
}

.form input {
    font-size: 20px;
    font-family: Roboto Condensed, latin-ext;
    height: 64px;
    width: 100%;
    padding: 12px 15px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    border: 1px solid #d8d8d8;
}

.form input:focus {
    border-color: #ffa8b5 !important
}

.form label, .wrap-forms label {
    font-size: 13px;
    font-weight: normal;
    display: block;
    margin-bottom: 6px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #4a4a4a;
}

.form-builder-item {
    width: 100%
}

.form-check, .form-check .form-check-label {
    padding-left: 0;
}

.form-check {
    margin-bottom: 21px;
}

.form-check .form-check-label {
    cursor: pointer;
    padding-left: 25px;
    position: relative;
}

.form-check .form-check-input:checked ~ .circle {
    border-color: #ec7432;
}

.form-check .form-check-input:checked ~ .check, .form-check .form-check-input:checked ~ .circle {
    opacity: 1;
}

.form-check .form-check-input:checked ~ .circle .check {
    transform: scale3d(.65, .65, 1);
}

.form-check .form-check-label .circle .check {
    height: 18px;
    width: 18px;
    border-radius: 100%;
    background-image: linear-gradient(to right, #ffa8b5, #82242A);
    transform: scale3d(0, 0, 0);
}

.form-check .form-check-label .circle {
    border: 1px solid rgba(0, 0, 0, .54);
    height: 18px;
    width: 18px;
    border-radius: 50%;
}

.form-check .form-check-label > span {
    position: absolute;
    left: -10px;
    top: 10px;
    transition-duration: .2s;
}

.form-check .form-check-label > span > span {
    position: absolute;
    left: -1px;
    top: -1px;
    transition-duration: .2s;
}

.form-check .form-check-input {
    display: none
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

.submit {
    display: flex;
    margin-top: 30px;
}

.submit > button:focus {
    color: #82242A
}

.submit-3 {
    display: flex;
    margin-left: 40px;
    margin-top: 10px
}

.form-check-label a {
    font-size: 15px!important;
}

.fw-container button {
    width: 160px;
    min-width: 144px
}

.infor-error {
    font-size: 15px;
    color: red;
    text-transform: none;
    display: none;
    margin-top: 20px;
    padding-left: 3px;
}

.infor-error span {
    margin: -2.5px 0px 0px 5px
}

.tagcloud a {
    border-width: 1px;
    width: 46px;
    text-align: center;
    margin: 2px;
    color: #82242A;
    border-color: #82242A;
    background: transparent;
}

#svg-seats a {
    letter-spacing: 0
}

.field-text {
    margin-bottom: 24px
}

.ant-spin-spinning {
    display: none;
    position: fixed;
    top: 46%;
    left: 50%;
    z-index: 2;
}

.ant-spin-lg .ant-spin-dot {
    width: 50px;
    height: 50px;
}

.ant-spin-dot-spin {
    -webkit-transform: rotate(45deg);
= [ ` ] -ms-transform: rotate(45 deg);
    transform: rotate(45deg);
    -webkit-animation: antRotate 1.2s infinite linear;
    animation: antRotate 1.2s infinite linear;
}

.ant-spin-dot {
    display: inline-block;
}

.ant-spin-lg .ant-spin-dot i {
    width: 20px;
    height: 20px;
}

.gCUkXE.gCUkXE .ant-spin-dot i {
    background-color: #4482FF;
}

.ant-spin-dot i {
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background-color: #1890ff;
    -webkit-transform: scale(.75);
    -ms-transform: scale(.75);
    transform: scale(.75);
    display: block;
    position: absolute;
    opacity: .3;
    -webkit-animation: antSpinMove 1s infinite linear alternate;
    animation: antSpinMove 1s infinite linear alternate;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.ant-spin-dot i:first-child {
    left: 0;
    top: 0;
}

.ant-spin-dot i:nth-child(2) {
    right: 0;
    top: 0;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.ant-spin-dot i:nth-child(3) {
    right: 0;
    bottom: 0;
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

.ant-spin-dot i:nth-child(4) {
    left: 0;
    bottom: 0;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.form label, .wrap-forms label {
    margin-left: 3px
}

.session-day {
    width: 100% !important;
}

#line-0 {
    height: 1px;
    margin: 24px 0px;
    background-image: linear-gradient(to right, #ffa8b5, #82242A);

}

#line {
    margin: 17px 0px 15px 0px;
    height: 1px;
    background-image: linear-gradient(to right, #ffa8b5, #82242A)
}

.session-time {
    display: inline-flex;
    font-size: 15px !important;
    margin: 0px;
    color: white;
    text-align: center;
    letter-spacing: 2;
    border-radius: 5px;
    background-color: #82242A;
    cursor: default;
    padding: 8px 10px;
}

.session-time > span {
    margin: auto;
}

.session-quality {
    display: inline-flex;
    font-size: 15px !important;
    width: auto;
    text-align: center;
    color: #82242A;
    letter-spacing: 2;
    border-radius: 5px;
    border: 1px solid #82242A;
    background-color: white;
    padding: 8px 10px;
    cursor: default;

}

.session-quality > span {
    margin: auto;
}

.form-check-label img {
    border-radius: 5px;
    width: 78px;
    height: 36px;
}

.form-check-label a {
    margin-top: 0px;
    margin-bottom: 5px;
    min-width: 227px;
    border-width: 1px;
    height: 35px;
}

.timeline_card {
    position: relative;
    padding: 20px;
}

.timeline_label {
    position: relative;
    width: 33%;
    float: left;
}

.timeline_label:before {
    content: "";
    position: absolute;
    z-index: 1;
    right: 0;
    top: 22px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px #82242A solid;
}

.timeline_line {
    position: absolute;
    right: 0;
    left: 0;
    top: 45px;
    border-bottom: 2px #eee solid;
}

.timeline_line:before {
    content: "";
    position: absolute;
    height: 2px;
    background-image: linear-gradient(to right, #ffa8b5, #82242A);
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.timeline_input[type=radio] {
    display: none;
}

.timeline_input[type=radio]:checked + .timeline_label {
    color: #525252;
}

.timeline_input[type=radio]:checked + .timeline_label:before {
    background-color: #82242A;
    -moz-animation: part 1.6s infinite ease-in-out;
    -webkit-animation: part 1.6s infinite ease-in-out;
    animation: part 1.6s infinite ease-in-out;
}

.timeline_input[type=radio]:checked:nth-of-type(1) + .timeline_label + .timeline_input + .timeline_label + .timeline_input + .timeline_label + .timeline_line:before {
    width: 33%;
}

.timeline_input[type=radio]:checked:nth-of-type(2) + .timeline_label + .timeline_input + .timeline_label + .timeline_line:before {
    width: 65%;
}

.timeline_input[type=radio]:checked:nth-of-type(3) + .timeline_label + .timeline_line:before {
    width: 100%;
}

#clock {
    margin-top: 30px;
    margin-bottom: -10px;
    display: flex;
    visibility: hidden;
    position: relative;
    z-index: 2;
}

#clockdiv {
    margin: auto;
    color: #82242A;
    display: flex;
}

#clockdiv div > span {
    padding: 8px 10px;
    margin: 1px;
    border: 1px solid #82242A;
    font-size: 15px;
    border-radius: 3px;
}

#information-2 {
    margin-bottom: -50px
}

#information-2 p {
    text-align: justify;
}

#information-1 {
    display: none;
    margin-top: 80px
}

#information-1 .infor-error {
    display: flex;
    min-width: 440px;
    font-size: 14px;
    text-align: justify;
}

.modal.in .modal-dialog {
    transform: translate(0) !important;
}

.modal .modal-dialog {
    margin-top: 150px;
}

.modal .modal-dialog {
    transition: transform 0.5s;
    transform: translateY(-50%) !important;
}

.modal-body {
    font-size: 18px;
    font-family: Roboto Condensed, latin-ext;
    text-align: justify;
}

.modal-body .session-quality {
    width: 30px;
    height: 24px;
    padding: 0;
    margin: 0 2px;
    letter-spacing: 0;
    font-size: 13px !important;
}

.fw-contact-form {
    padding-right: 15px
}

.infor-1 {
    display: flex;
    margin: 23px 0px 23px 0px;
}

#infor-avatar-0 {
    height: 355px;
    margin-top: -20px;
    margin-bottom: 28px;
    border-radius: 5px;
    display: none
}

#infor-avatar-1 {
    min-width: 134px;
    height: 176px;
    border-radius: 5px;
    margin-right: 4px
}

@media (min-width: 1200px) {
    #information-1 {
        display: block
    }

    #information-2 {
        display: none
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    button#next-1 {
        width: 100%
    }

    .tagcloud a {
        width: 53px;
    }

}

@media (max-width: 991px) and (min-width: 768px) {
    button#next-1 {
        width: 100%
    }

    .code-input { min-width: 231px }

    #code {
        min-width: 231px !important
    }

    .tagcloud a {
        width: 49px
    }

    .form-check {
        margin-bottom: 32px
    }

    .page-1 {
        width: 100%
    }

    .page-3 {
        width: 104%
    }

    .fw-col-xs-12.fw-col-sm-6 {
        width: 42% !important
    }

    .fw-col-xs-12.order-2 {
        width: 58% !important
    }
}

@media (max-width: 767px) {
    #section-1 .fw-row {
        margin-left: -5px;
        margin-right: -5px
    }

    #section-3 .fw-container {
        width: 420px
    }

    #section-3 .fw-container .fw-col-sm-4 form {
        min-width: 275px
    }

    #code {
        width: 356px !important;
        min-width: 231px
    }

    #line-0 {
        display: none
    }

    .nav li.active a {
        color: #82242A
    }

    .submit-3 {
        min-width: 288px;
        margin-left: 0px !important;
        margin-top: 40px
    }

    .submit-3 > button {
        width: 50% !important
    }

    .page-3 {
        width: 388px
    }

    .order-2 {
        order: 2
    }

    .fw-col-xs-12.fw-col-sm-6 {
        width: 100%
    }

    .form-check .session-quality {
        min-width: 240px !important;
        width: 100%;
        margin-left: 0px !important
    }

    .fw-row {
        display: flex;
        flex-wrap: wrap
    }

    .fw-row > .fw-col-sm-8 {
        order: 2;
        width: 100%
    }

    .fw-row > .fw-col-sm-4 {
        order: 1;
        width: 100%
    }

    .fw-contact-form {
        padding-right: 0px
    }

    .fw-contact-form .submit {
        margin-top: 0px
    }

    .fw-contact-form input {
        height: 50px
    }

    .infor-1 {
        margin-top: -10px
    }
}

@media (max-width: 500px) {
    #next-1, #next-2 {
        width: 100%
    }

    .form-check-label a {
        width: 99%
    }
}

@media (max-width: 450px) {
    #content_hero .star-rating {
        margin-left: 108px
    }

    .fw-col-xs-12.fw-col-sm-7 form {
        width: auto
    }
}

@media (max-width: 365px) {
    #infor-avatar-0 {
        display: block
    }

    #infor-avatar-1 {
        display: none
    }

    .submit-3 > #back-3 {
        margin-left: -6px
    }
}

@media (max-width: 350px) {
    .submit-3 > #back-3 {
        margin-left: -6px
    }
}

@media (max-width: 325px) {
    .tagcloud .session-quality {
        min-width: 40px !important
    }
}

@-webkit-keyframes antSpinMove {
    to {
        opacity: 1
    }
}

@keyframes antSpinMove {
    to {
        opacity: 1
    }
}

@-webkit-keyframes antRotate {
    to {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }
}

@keyframes antRotate {
    to {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }
}

@-webkit-keyframes part {
    0%, 100% {
        box-shadow: 0 0 0 0 #fff, 0 0 0 0 #dd2476, 0 0 0 0 #dd2476;
    }
    50% {
        box-shadow: 0 0 0 2px #ffffff, 0 0 3px 2px #dd2476, 0 0 9px 0 #dd2476;
    }
}

@-moz-keyframes part {
    0%, 100% {
        box-shadow: 0 0 0 0 #fff, 0 0 0 0 #dd2476, 0 0 0 0 #dd2476;
    }
    50% {
        box-shadow: 0 0 0 2px #ffffff, 0 0 3px 2px #dd2476, 0 0 9px 0 #dd2476;
    }
}

@keyframes part {
    0%, 100% {
        box-shadow: 0 0 0 0 #fff, 0 0 0 0 #dd2476, 0 0 0 0 #dd2476;
    }
    50% {
        box-shadow: 0 0 0 2px #ffffff, 0 0 3px 2px #dd2476, 0 0 9px 0 #dd2476;
    }
}


                                    footer .footer-inner {
                                        margin-bottom: 15px;
                                    }

.footer-inner .newsletter-wrap {
    width: 52%;
    display: inline-block;
}

.social h4 {
    margin: 6px 0 0px;
}

.footer-bottom .company-links li {
    float: left;
}

.footer-inner .social {
    width: 45%;
    float: right;
}

.footer-bottom .company-links li {
    margin-left: 10px;
}

.footer-top {
    padding: 30px 0px 20px;
}

.footer-middle .col-md-3:last-child {
    padding-bottom: 0px;
}

footer .footer-inner {
    margin-bottom: 10px;
}

.footer-bottom .company-links li {
    margin-left: 0;
    float: none;
    margin: 0 10px 5px 0;
}

.footer-bottom .company-links ul {
    text-align: center;
}

footer .coppyright {
    float: none;
    text-align: center;
    margin-bottom: 8px;
}

.footer-column {
    width: 100%;
    margin-bottom: 0px;
    margin-right: 0px;
}

.footer-middle .col-md-3 {
    padding-bottom: 0px;
}

.footer-middle .col-md-3:last-child {
    padding-right: 0;
    padding-bottom: 0;
}

.footer-top {
    padding: 20px 0 15px;
}

footer address span {
    float: left;
    margin-right: 8px;
}

footer .footer-inner {
    margin-bottom: 10px;
}

.footer-bottom .company-links li {
    margin-left: 0;
    float: none;
    margin: 0 10px 5px 0;
}

.footer-bottom .company-links ul {
    text-align: center;
}

footer .coppyright {
    float: none;
    text-align: center;
    margin-bottom: 8px;
}

.footer-column {
    width: 100%;
    margin-bottom: 0px;
    margin-right: 0px;
}

.footer-middle .col-md-3 {
    padding-bottom: 0px;
}

.email-footer {
    overflow: hidden;
    margin-top: 15px;
    font-size: 12px;
    padding-bottom: 25px;
}

.email-footer a {
    font-size: 14px;
    line-height: 35px;
    color: #999;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.phone-footer {
    overflow: hidden;
    font-size: 14px;
    line-height: 35px;
    color: #999;
    margin-bottom: 15px;
    margin-top: 12px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.coppyright {
    color: #666;
}

.footer-bottom .company-links ul {
    padding: 0px;
}

.footer-bottom .company-links li {
    display: inline-block;
    margin-left: 20px;
    list-style: none;
    float: right;
}

.footer-middle a {
    color: #aaa;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.footer-middle .col-md-3 {
    border-left: 1px solid #444;
    margin: auto;
    padding: 20px 20px;
    overflow: hidden;
}

.footer-middle .col-md-3:first-child {
    border-left: 0px solid #e5e5e5;
    padding-left: 15px;

}

.footer-middle .col-md-3:last-child {
    padding-right: 0px;
}

.footer a:hover {
    text-decoration: none;
}

.footer-bottom {
    margin: auto;
    overflow: hidden;
    padding: 20px 0 15px;
    width: 100%;
    font-weight: 500;
    border-top: 1px solid #444;
}

.footer-bottom a {
    color: #666;
}

.footer-bottom a:hover {
    color: #0ab3a3;
}

.footer-bottom a:hover {
    text-decoration: none;
}

.contacts-info address {
    border: medium none;
    color: #999;
    display: block;
    font-size: 14px;
    font-style: normal;
    line-height: 1.5em;
    margin: 5px auto 18px;
    padding-bottom: 0px;
    padding-top: 5px;
    text-align: left;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.contacts-info {
    margin-top: 10px;
}

.footer-logo {
    text-align: left;
    margin: 10px 0 8px;
}

.payment-accept {
    text-align: right;
}

.payment-accept img {
    margin: 0px 10px 4px 0px;
    width: 50px;
}

.footer-middle p {
    font-weight: 900;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2
}

a.buy-theme {
    text-transform: uppercase;
    font-size: 13px;
}

.footer-middle ul.links {
    margin: auto;
    padding: 0px;
}

.footer-middle .links li {
    list-style: none;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px
}

.footer-middle .links li a {
    color: #999;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}

.footer-middle .links li a:hover {
    color: #0ab3a3;
    text-decoration: none;
}

.footer {
    padding-top: 50px !important;
    background: #101010;
    z-index: 1000;
    position: relative;
}

.footer-top {
    clear: both;
    overflow: hidden;
    padding: 15px 0;
    border-top: 1px solid #444;
}

.footer-inner .newsletter-wrap {
    width: 52%;
    display: inline-block;
    float: left;
}

.social h4 {
    margin: 6px 0 5px;
}

.footer-inner .social {
    width: 45%;
    float: right;
}

.footer-middle .col-md-3 {
    border-left: 0px solid #444;
}

.footer .footer-middle .column.column4 .social .item .left {
    text-align: center;
    margin-bottom: 0;
}

.footer .footer-middle .column.column4 .social .item .left .icon {
    height: 51px;
    width: 51px;
}

.footer .footer-middle .column.column4 .social .item .left .icon i {
    line-height: 55px;
    font-size: 20px;
}

.footer .footer-middle .column.column4 .social .item .right {
    text-align: left;
}

.footer .footer-middle .column.column4 .social .item .right p {
    font-size: 13px;
}

.footer .footer-top {
    padding: 35px 0;
}

.footer .footer-middle .column {
    padding: 25px 10px 10px 20px;
}

.footer .footer-middle .column.column4 .social .item .left {
    margin-right: 0;
    margin-bottom: 10px;
}

.footer .footer-middle .column.column4 .social .item .right {
    text-align: center;
}

.footer .footer-middle .column.column4 .social .item .right p {
    font-size: 18px;
}

.footer .footer-top .logo-footer {
    padding-left: 0;
}

.footer .newsletter-wrap button.subscribe {
    font-size: 15px;
    background: #f9a514;
    border: 1px solid #f9a514;
}

.footer .newsletter-wrap button.subscribe:before {
    display: none;
}

.footer .footer-middle {
    display: table;
    width: 100%;
}

footer ul li a, footer ul li a:active, footer ul li a:visited {
    padding: 0px !important
}

.footer .footer-middle .links li a, .footer .footer-middle .links li span {
    color: white;
    font-weight: 500;
    font-size: 14px;
    color: #ccc;
    text-align: initial;
}

.footer .footer-middle .links li a:hover {
    color: #ffa8b5
}

.footer .footer-middle .column {
    display: table-cell;
    vertical-align: top;
    padding: 20px;
    padding-top: 35px;
    border-right: 1px solid #444;
}

.footer .footer-middle .column:first-child {
    border-left: 0px solid #e5e5e5;
}

.footer .footer-middle .column.column1 {
    width: 36%;
    padding-right: 60px
}

.footer .footer-middle .column.column2 {
    width: 12%;
    min-width: 205px
}

.footer .footer-middle .column.column3 {
    width: 12%;
    min-width: 215px;
}

.footer .footer-middle .column.column4 {
    width: 40%;
    min-width: 490px;
    vertical-align: middle;
    padding-left: 40px;
}

.footer .footer-middle .column.column4 .social {
    width: 100%;
}

.footer .footer-middle .column.column4 .social .item {
    width: 100%;
    max-width: 330px;
    display: inline-block;
}

.footer .footer-middle .column.column4 .social .item .left {
    display: inline-block;
    vertical-align: middle;
    margin-right: 18px;
}

.footer .footer-middle .column.column4 .social .item .left .icon {
    height: 71px;
    width: 71px;
    background: #3b5998;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
}

.footer .footer-middle .column.column4 .social .item .left .icon i {
    line-height: 75px;
    font-size: 36px;
    color: #fff;
}

.footer .footer-middle .column.column4 .social .item .right {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.footer .footer-middle .column.column4 .social .item .right p {
    color: #fff;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
}

/* line 405, scss/layout/homepage.scss */

.footer .footer-top {
    padding: 55px 0 30px 0;
}

/* line 409, scss/layout/homepage.scss */

.footer .footer-top .logo-footer img {
    max-width: 100%;
}

/* line 414, scss/layout/homepage.scss */

.footer .footer-top .about h3 {
    color: #fff;
    font-size: 18px;
    margin-top: 13px;
    margin-bottom: 20px;
}

/* line 420, scss/layout/homepage.scss */

.footer .footer-top .about p {
    color: #ccc;
    font-size: 15px;
    font-weight: bold;
    line-height: 2;
    margin-bottom: 35px;
    text-align: justify;

}

/* line 427, scss/layout/homepage.scss */

.footer .footer-bottom a:hover {
    color: #f9a514;
}

/* line 431, scss/layout/homepage.scss */

.footer .footer-bottom .coppyright {
    margin-top: 15px;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.newsletter-wrap {
    padding: 20px 0;
    overflow: hidden;
    clear: both;
    border-bottom: 1px solid #444;
}

.footer .announced {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px
}

.footer .announced img {
    width: 200px
}

@media (max-width: 1500px) {
    .footer .footer-middle .column.column2 ul.links, .footer .footer-middle .column.column3 ul.links {
        padding-left: 0px;
    }

    .footer .footer-middle .column4 {
        padding-left: 4%
    }
}

@media (max-width: 1200px) {
    .footer .footer-middle .column.column1 {
        min-width: 215px;
        width: 20%;
        padding-right: 20px
    }

    .footer .footer-middle .column.column2 {
        min-width: 180px
    }
}

@media (max-width: 1090px) {
    .footer .footer-middle .column.column1 {
        padding-right: 20px
    }

    .footer .footer-middle .column.column4 {
        min-width: 0px;
        padding-left: 20px
    }
}

@media (max-width: 900px) {
    .footer .footer-middle {
        border-right: 1px solid #444;
        width: 99.9%
    }

    .footer .footer-middle .column.column4 .social {
        padding-right: 0px !important
    }

    .footer .footer-middle .column {
        display: inline-block;
        width: 49.98% !important;
        border-width: 0px;
    }

    .footer .footer-middle .column.column3, .footer .footer-middle .column.column4 {
        border-top: 1px solid #444 !important;
    }

    .footer .footer-middle .column.column1, .footer .footer-middle .column.column3 {
        border-left: 1px solid #444 !important;
        border-right: 1px solid #444 !important;
    }

    .footer .footer-middle .column.column1 div {
        float: left !important
    }

    .footer .footer-top {
        width: 99.9%;
        border: 1px solid #444
    }

    .social iframe {
        width: 100%
    }
}

@media (max-width: 992px) {
    .footer .container {
        width: 100%;
        padding-left: 4%;
        padding-right: 4%
    }
}

@media (max-width: 900px) and (min-width: 768px) {
    .footer .announced img {
        width: 200px
    }
}

@media (max-width: 768px) and (min-width: 470px) {
    .footer .logo-footer div {
        width: 400px !important
    }
}

@media (max-width: 768px) {
    .footer .about p {
        max-width: 1000px !important
    }

    .footer .footer-top .about a {
        display: block !important
    }

    .footer .announced img {
        display: none
    }
}

@media (max-width: 445px) {
    .footer .footer-middle {
        border-right: 0px solid #444;
        width: 99.9%
    }

    .links #space {
        display: none;
    }

    .footer .footer-middle .column {
        display: inline-block;
        width: 99.9% !important;
        border-width: 0px;
        padding: 35px 50px 20px 50px !important
    }

    .footer .footer-middle .column.column1, .footer .footer-middle .column.column4 {
        border: 1px solid #444 !important;
    }

    .footer .footer-middle .column.column4 {
        padding: 20px !important
    }

    .footer .footer-middle .column.column2, .footer .footer-middle .column.column3 {
        border-left: 1px solid #444 !important;
        border-right: 1px solid #444 !important;
    }

    .social iframe {
        width: 100%
    }
}

