<!--<li class="grid-item-landing"  id="grid-item-[[product.id]]">-->
    <!--<div>-->
        <!--<div class="card">-->

            <!--<a>-->

                <!--<div style="cursor: pointer;position:relative" class="card-image">-->

                    <!--<img id="image[[$product.id]]" full='[[product.url]]'-->
                         <!--src="[[product.thumb_url]]">-->

                <!--</div>-->
            <!--</a>-->
            <!--<div class="card-content" style="padding: 10px;border-top:1px solid #d9d9d9">-->

                <!--<p>-->

                    <!--<a id="btn-like-[[product.id]]"-->
                       <!--class="hvr-bounce-in btn-like"-->
                       <!--onclick="toggle_like('[[$product.id]]')"><i-->
                            <!--class="fa fa-heart"></i></a>-->


                    <!--<span class="btn-liked-user-trigger" onclick="get_liked_users([[product.id]])"-->
                          <!--id="total_likes[[product.id]]">count</span>-->

                    <!--<a style="color: #888;margin-left:7px"><i-->
                            <!--class="fa fa-comment"></i></a>-->
                    <!--<span id="total_comments[[product.id]]">comments</span>-->

                    <!--<a style="color: #888;margin-left:7px"><i-->
                            <!--class="fa fa-eye"></i></a>-->
                    <!--<span id="total_views[[$product.id]]">[[product.views]]</span>-->

                <!--</p>-->


            <!--</div>-->
            <!--<div style="padding:10px 10px 5px 10px;border-top:1px solid #d9d9d9;overflow: hidden"-->
                 <!--class="black-text">-->
                <!--<div style="float:left;height:50px;width: 42px;padding-top:2px">-->
                    <!--<img class="circle"-->
                         <!--src="img/user.png"-->
                         <!--width="37" height="37">-->
                <!--</div>-->
                <!--<div style="float:left;height: 40px;font-size:14px">-->
                    <!--<a class="username" target="_blank"-->
                       <!--href=""-->
                       <!--style="display: block">author name</a>-->
                    <!--<a class="newsfeed-item-time"-->
                       <!--href=""-->
                       <!--style="display: block">created at</a>-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</li>-->
